{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Note</title>
  </head>
  <body>
    <div class="header">
      <h1>NOTES</h1>
    </div>
    <ul>
      <li><a href="http://127.0.0.1:8000/lab-4/note-list">Card Form</a></li>
      <li><a href="http://127.0.0.1:8000/lab-4/add-note/">Add Note</a></li>
    </ul>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if notes %}
        {% for note in notes %}
        <!-- EXAMPLE SECTION -->
        <tr>
          <td>{{ note.to }}</td>
          <td>{{ note.dari }}</td>
          <td>{{ note.title }}</td>
          <td>{{ note.message }}</td>
        </tr>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
  </html>
  