{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <title>Friend List</title>
  </head>
  <body>
    <div class="header">
        <h1>KIRIM PESAN MU :D</h1>
    </div>
    <div class="table">
      <ul>
        <li><a href="http://127.0.0.1:8000/lab-4/">NOTES</a></li>
        <li><a href="http://127.0.0.1:8000/lab-4/note-list/">Card Form</a></li>
      </ul>
      <form action="" method="POST">
          {% csrf_token %}
          <table>
            {{ form }}
        </table>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
