.header{
    padding: 50px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.15);
    justify-content: center;
    color: rgb(168, 110, 110);
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table, th, td, tr{
    padding: 2.4px;
    display: flex;
    justify-content: center;
    color: green;
    border-collapse: collapse;
    margin: 0.1px;
    font-size: 0.9rem;
    font-family: sans-serif;
    min-width: 12rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

