.header{
    padding: 50px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.15);
    justify-content: center;
    color: rgb(168, 110, 110);
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}

img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);


}